@media screen and (max-width:974px) {
    .container {
        max-width: 768px;
        margin: auto;
    }
    .title_info h1 {
        font-size: 50px;
    }
    .section_title h3{
        font-size: 30px;
    }
    .box_content h3{
        font-size: 20px;
    }
    .ex_sec_info p{
        font-size: 14px;
    }
    .content_sub{
        padding: 40px 0px;
    }
    .form_info input{
        width: 265px;
    }
}